
$lightbrown : #ffcbcb;
$darkBlue:#132743;
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
$open-sans: 'Open Sans', sans-serif;
$noto-sans: 'Noto Sans', sans-serif;


.app {
    justify-content: center;
    display: flex;
    .contanier{
        width: 100%;

            .link{
                text-decoration: none;
                color: inherit;
            }
            //LOGIN & REGISTER 

            .auth{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100vh;
                background-color: $lightbrown;

                h1{
                    font-size: 30px;
                    color: $darkBlue;
                    margin-bottom: 20px;
                    font-family: $noto-sans;
                }

                form{
                    display: flex;
                    flex-direction: column;
                    padding: 50px;
                    width: 200px;
                    gap: 20px;
                    background-color: white;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }

                input{
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid grey;
                    font-family: $open-sans;
                }
                button {
                    padding: 10px;
                    border: none;
                    background-color:$darkBlue;
                    cursor:pointer;
                    color: white;
                    font-family: $open-sans;
                    
                }
                p{
                    font-size: 12px;
                    text-align: center;
                    color: red;
                    font-family: $open-sans;
                }

                span{
                    font-size: 12px;
                    text-align:center;
                    font-family: $open-sans;
                }
            }

        

        //NAVBAR
        .navbar{
            .container{
                padding-left: 100px;
                padding-right: 100px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .logo img{
                    height: 120px;
                    width: 120px;
                    border-radius: 50%;
                }
                .links{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    font-family: $open-sans;

                    h6{
                        font-size: 16px;
                        font-weight: 300;
                    }

                    span{
                        cursor: pointer;
                    }

                    .write{
                        background-color: $lightbrown;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid white; 
                        font-weight: 300;
                        text-decoration: none;


                        &:hover{
                            background-color: white;
                            color: $darkBlue;
                            border: 1px solid $darkBlue;
                        }
                    }
                }
            }
        }

        //FOOTER
        footer{
            
            margin-top: 100px;
            padding: 30px;
            display: flex;
            background-color: $lightbrown;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;
            font-family: $noto-sans;
            img{
                height: 50px;
                width: 50px;
                //object-fit: cover;
                border-radius: 50%;
            }

        }

        //HOME

        .home{
            padding-left: 100px;
            padding-right: 100px;
            .posts{
                margin-top: 50px;
                display: flex;
                gap: 150px;
                flex-direction: column;

                .post{
                    display: flex;
                    gap: 100px;
                    font-family: $noto-sans;

                    &:nth-child(2n+1){
                        flex-direction: row-reverse;
                    }

                    .img{
                        flex: 2;
                        position: relative;

                        &:after{
                            content: "";
                            width: 100%;
                            height: 100%;
                            background-color: #ffcbcb;
                            position: absolute;
                            top: -20px;
                            left: 20px;
                            z-index: -1;
                        }
                        img{
                            width: 100%;
                            max-height: 400px;
                            object-fit: cover;
                        }
                    }
                    
                    .content{
                        flex: 3;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h1{
                            font-size: 40px;
                            color: #132743;
                        }

                        p{
                            font-size: 18px;
                            color: #132743;
                        }

                        button{
                            width: max-content;
                            padding: 10px 20px;
                            border: none;
                            cursor: pointer;
                            border-radius: 8px;
                            background-color: white;
                            border: 1px solid $lightbrown;
                            color: #132743;

                            &:hover{
                                border: 1px solid white;
                                background-color: #ffcbcb;
                                color: black;
                            }

                        }
                    }
                }
            }
        }

        //SINGLE

        .single{
            padding-left: 100px;
            padding-right: 100px;
            display: flex;
            gap: 50px;

            .content{
                flex: 5;
                display: flex;
                gap: 10px;
                flex-direction: column;

                img{
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }

                .user{
                    display: flex;
                    //align-items: center;
                    gap: 10px;
                    font-size: 14px;
                    font-family: $open-sans;
                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    .username{
                        font-size: 16px;
                        font-weight: bold;
                        span{
                            font-size: 14px;
                            display: flex;
                            font-weight: normal;
                        }
                    }
                    
                }
                .edit{
                    display: flex;
                    gap: 5px;

                    img{
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                    }
                }

                h1{
                    font-size: 42px;
                    font-family: $noto-sans;
                    color: #132743;
                }

                p{
                    line-height: 30px;
                    font-family: $noto-sans;
                    text-align: justify;
                    color: #132743;
                }
            }

            .menu{
                font-family: $noto-sans;
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 25px;

                h1{
                    font-size: 20px;
                    font-family: $noto-sans;
                    color: #132743;
                }

                .post{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    img{
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                    }

                    h2{
                        color: #132743;
                    }

                    button{
                        width: max-content;
                        padding: 7.5px 15px;
                        border: none;
                        cursor: pointer;
                        border-radius: 8px;
                        background-color: white;
                        border: 1px solid $lightbrown;
                        color: #132743;

                        &:hover{
                            border: 1px solid white;
                            background-color: #ffcbcb;
                            color: black;
                        }

                    }
                }
            }
            
        }

        //WRITE

        .add {
            padding-left: 100px;
            padding-right: 100px;
            margin-top: 20px;
            display: flex;
            gap: 20px;
      
            .content {
              flex: 5;
              display: flex;
              flex-direction: column;
              gap: 20px;
      
              input {
                padding: 10px;
                border: 1px solid lightgray;
              }
      
              .editorContainer {
                height: 300px;
                overflow: scroll;
                border: 1px solid lightgray;
      
                .editor {
                  height: 100%;
                  border: none;
                }
              }
            }
      
            .menu {
              flex: 2;
              display: flex;
              flex-direction: column;
              gap: 20px;
      
              .item {
                font-family: $noto-sans;
                border: 1px solid lightgray;
                padding: 10px;
                flex:1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 12px;
                color: #555;
      
                h1{
                    font-family: $noto-sans;
                  font-size: 20px;
                }
      
                .file{
                    font-family: $noto-sans;
                  text-decoration: underline;
                  cursor: pointer;
                }
      
                .buttons{
                    font-family: $noto-sans;
                  display: flex;
                  justify-content: space-between;
      
                  :first-child{
                    cursor: pointer;
                    color: $lightbrown;
                    background-color: white;
                    border: 1px solid $lightbrown;
                    padding: 3px 5px;
                  }
                  :last-child{
                    cursor: pointer;
                    color: white;
                    background-color: $lightbrown;
                    border: 1px solid $lightbrown;
                    padding: 3px 5px;
                  }
                }
      
                .cat{
                  font-family: $noto-sans;
                  display: flex;
                  align-items: center;
                  gap: 2px;
                  color: $lightbrown;
                }
              }
            }
          }
        }
      }
      